<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-icon name="arrow-round-back" style="font-size:25px" (click)="dismissModal()"></ion-icon>
      </ion-buttons>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let busstop of bussStopList" (opened)="getBusInfo(busstop.BusStopCode)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>{{busstop.Description}}</b>
            </mat-panel-title>
            <mat-panel-description>
              <small>{{busstop.RoadName}} {{busstop.BusStopCode}}</small>
            </mat-panel-description>
          </mat-expansion-panel-header>
    
          <div *ngIf="busstop.BusStopCode==busStopId">
            <ion-list *ngIf="busesList">
              <ion-item-sliding *ngFor="let bus of busesList">
                  <ion-item>
                    <table >
                      <tr>
                        <td style="width:40px"><b>{{bus.ServiceNo}}</b></td>
                        <td style="width:80px">           
                            <ion-chip color="{{getLoadColor(bus.NextBus.Load)}}">
                              {{getArrival(bus.NextBus.EstimatedArrival)}}
                            </ion-chip>
                        </td>
                        <td style="width:80px">
                            <ion-chip color="{{getLoadColor(bus.NextBus2.Load)}}">
                                {{getArrival(bus.NextBus2.EstimatedArrival)}}
                            </ion-chip>
                        </td>
                        <td>
                            <ion-chip color="{{getLoadColor(bus.NextBus3.Load)}}">
                                {{getArrival(bus.NextBus3.EstimatedArrival)}}
                            </ion-chip>
                        </td>
                      </tr>
                    </table>
                  </ion-item>
                  <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="deleteFav(busstop.BusStopCode,bus.ServiceNo)">Delete</ion-item-option>
                  </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </div>
    
        </mat-expansion-panel>
      </mat-accordion>

</ion-content>
<ion-footer>
    <ion-icon name="bus" style="font-size:30px;vertical-align:middle;margin-left: 10px;margin-right: 10px"></ion-icon>
    <ion-chip color="success">
        <table style="font-size:small;text-align:center">
            <tr><td>Seats</td></tr>
            <tr><td>Avaliable</td></tr>
        </table>
    </ion-chip>
    <ion-chip color="warning">
        <table style="font-size:small;text-align:center">
            <tr><td>Standing</td></tr>
            <tr><td>Avaliable</td></tr>
        </table>
    </ion-chip>
    <ion-chip color="danger">
        <table style="font-size:small;text-align:center">
            <tr><td>Limited</td></tr>
            <tr><td>Standing</td></tr>
        </table>
    </ion-chip>
</ion-footer>