<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-icon name="arrow-round-back" style="font-size:25px" (click)="dismissModal()"></ion-icon>
      </ion-buttons>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
dsf

</ion-content>
<ion-footer>
    <ion-icon name="bus" style="font-size:30px;vertical-align:middle;margin-left: 10px;margin-right: 10px"></ion-icon>
    <ion-chip color="success">
        <table style="font-size:small;text-align:center">
            <tr><td>Seats</td></tr>
            <tr><td>Avaliable</td></tr>
        </table>
    </ion-chip>
    <ion-chip color="warning">
        <table style="font-size:small;text-align:center">
            <tr><td>Standing</td></tr>
            <tr><td>Avaliable</td></tr>
        </table>
    </ion-chip>
    <ion-chip color="danger">
        <table style="font-size:small;text-align:center">
            <tr><td>Limited</td></tr>
            <tr><td>Standing</td></tr>
        </table>
    </ion-chip>
</ion-footer>